h6{
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
    color: black;
}

.Stage-direction{
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
    background-color: lightcyan;
}

.Speech{
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
}

.name {
    font-family: Arial;
    font-size:small;
    font-style: italic;
}
.Stage-direction:hover{
    background-color:yellow;
    color: red;
}
.PHIPPS
{
   color: blue;
   font-size: 15px;
}
.LORDGORING{
    color: greenyellow;
    font-size: 15px;
}
.LORDCAVERSHAM{
    color: red;
    font-size: 15px;
}

table, th, td{
    border: 1px solid black;
    border-collapse: collapse;
    text-align: left;
    width: 40%;
    padding: 7px;

}
tr:nth-child(odd) {
    background-color: green;
  }


